@model Teamwork_Hackathon.Models.DTO.HackathonTeamDto
@{
    Layout = "";
}
<div class="row" style="margin-top: -25px;">
    <div class="col-lg-2" style="display: none;">
        <div class="navbar navbar-inverse navbar-fixed-left">
            <ul class="nav navbar-nav" style="padding: 15px;">
                @if (Model.Team.HackathonTeamOfferings.Count < 4)
                {
                    <li><a href="/viewteamofferings/create/?id=@Model.Team.Id" data-modal=""><i class="glyphicon glyphicon-plus"></i> Add a new position</a></li>
                }
                
            </ul>
        </div>
    </div>
    <div class="col-lg-2 col-sm-2 col-xs-2" style="padding: 15px; background: white;">
        <div class="row" style="padding-left: 15px; padding-right: 15px;">
            <img src="@Model.Team.Logo" style="max-height: 160px; max-width:160px;" />
            <h4>Team:
                @Html.DisplayFor(modelItem => Model.Team.TeamName)
            </h4>
            <p>@Html.DisplayFor(ModelItem => Model.Team.TeamDescription)</p>
        </div>
        <div class="row" style="padding-left: 15px;">
            <hr/>
            <h5>People in this Team: (@Model.Team.HackathonMembers.Count / 5)</h5>
            <div class="col-lg-12">
                <ul class="list-group dl-horizontal" style="border: none">
                    @foreach (var member in Model.Team.HackathonMembers)
                    {
                        <li style="border: none" class="list-group-item">
                           
                            <img src="@member.ProfileImage" class="img-circle" height="32" width="32"/>
                            @if (member.UserId == Model.CurrentUser.Id)
                            {
                                <text>&nbsp;(You)</text>
                            }
                            else
                            {
                                <text> &nbsp; @member.DisplayName</text>
                                if (Model.IsTeamCreator && member.UserId != Model.CurrentUser.Id)
                                {
                                    <a href="#">&nbsp;<i class="glyphicon glyphicon-remove" style="color:red"></i></a>
                                }
                            }
                        </li>
                    }
                </ul>
            </div>

        </div>
        <div class="row" style="padding-left: 15px;">
            <a href="/viewteams/edit/@Model.Team.Id" data-modal="" integrity="" class="btn btn-sm btn-warning"><i class="glyphicon glyphicon-pencil"></i> Edit Team</a><br/><br />

            @if (Model.IsTeamCreator) { 
                <a href="/viewteams/delete?id=@Model.Team.Id" id="cmdLeave" class="btn btn-xs btn-success"><i class="glyphicon glyphicon-plus"></i> Delete Team</a>
            }
        </div>
    </div>
    <div class="col-lg-10">


        <ul class="nav nav-tabs">
            <li class="active">
                <a href="#1" data-toggle="tab">Overview</a>
            </li>
            <li>
                <a href="#2" data-toggle="tab">Boards</a>
            </li>
            <li>
                <a href="#3" data-toggle="tab">Project</a>
            </li>
        </ul>

        <div class="tab-content ">
            <div class="tab-pane active" id="1">

                <div class="row" style="margin-top: 15px; padding: 15px;">
                    <div class="col-lg-12" style="margin-bottom: 15px;">
                        <h4>Voting:</h4>
                        <p>This Team did not get any votes so far.</p>
                    </div>
                    <div class="col-lg-12">
                        <h4>Open positions in this team:</h4>
                        @if (Model.Team.HackathonTeamOfferings.Count < 4)
                        {
                            <li><a href="/viewteamofferings/create/?id=@Model.Team.Id" data-modal=""><i class="glyphicon glyphicon-plus"></i> Add a new position</a></li>
                        }
                        @if (Model.Team.HackathonTeamOfferings == null || (Model.Team.HackathonTeamOfferings != null && Model.Team.HackathonTeamOfferings.Count == 0))
                        {
                            <p>The team does not have any open spots</p>
                        }
                        else
                        {
                            <ul class="list-group" style="margin-top: 5px;">
                                @if (Model.Team.HackathonTeamOfferings != null)
                                {
                                    foreach (var opening in Model.Team.HackathonTeamOfferings)
                                    {
                                        <li>
                                            <div class="col-lg-12 table-hover" style="margin-bottom: 10px;">
                                                <div class="col-lg-1" style="width: 25px;">
                                                    <span>
                                                        <a href="/viewteamofferings/edit/@opening.Id" data-modal=""><i class="glyphicon glyphicon-pencil"></i></a><br/>
                                                        <a href="/viewteamofferings/delete/@opening.Id" data-modal=""><i class="glyphicon glyphicon-remove"></i></a>
                                                    </span>
                                                </div>
                                                <div class="col-md-11">

                                                    @if (opening.Text.Length > 80)
                                                    {
                                                        opening.Text = opening.Text.Substring(0, 80);
                                                    }
                                                    <strong>@opening.Title</strong><br/>@opening.Text
                                                </div>
                                            </div>
                                        </li>
                                    }
                                }
                            </ul>
                        }
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="2" style="height:1000px;">
                <iframe src="https://digitalcrew.teamwork.com" style="height: 100%; width: 100%;border:none"></iframe>
            </div>
            <div class="tab-pane" id="3" style="height:1000px;">
                <iframe src="https://digitalcrew.teamwork.com/chat" style="height: 100%; width: 100%;border:none"></iframe>
            </div>
        </div>

    </div>
</div>

<script type="text/javascript">
    
</script>

<style type="text/css">
    .tab-content {
        background-color: white;
        padding: 15px;
    }
</style>
