@model Teamwork_Hackathon.Models.DTO.VotingResultsDTO



<div class="row">
    <div class="col-lg-12" style="padding-bottom: 15px; margin-top: 25px;">
            @foreach (var grouping in Model.CategoryResults.GroupBy(p => p.CategoryName))
            {
                    int i = 0;
                <div class="col-lg-3" style="padding-top: 25px;">
                    <h2>@grouping.Key</h2>
                    <ul>
                        @foreach (var item in grouping.ToList().Take(5))
                        {
                            <li>
                                @if (i == 0)
                                {
                                    <h2><i style="color:yellow" class="glyphicon glyphicon-star"></i><i  style="color:yellow" class="glyphicon glyphicon-star"></i><i  style="color:yellow" class="glyphicon glyphicon-star"></i>@item.TeamName - @item.Score</h2>
                                }
                                else if (i == 1)
                                {
                                    <h3><i  style="color:yellow" class="glyphicon glyphicon-star"></i><i  style="color:yellow" class="glyphicon glyphicon-star"></i>@item.TeamName - @item.Score</h3>
                                }
                                else if (i == 2)
                                {
                                    <h4><i  style="color:yellow" class="glyphicon glyphicon-star"></i>@item.TeamName - @item.Score</h4>
                                }
                                else
                                {
                                    <h5>@item.TeamName - @item.Score</h5>
                                }
                            </li>
                            i++;
                        }
                    </ul>
                </div>


            }




    </div>
</div>
